<div>
    <h2 data-translate="nclsindhuApp.owner.home.title">Owners</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="owner.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="nclsindhuApp.owner.home.createLabel">
                        Create new Owner
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'nclsindhuApp.owner.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="nclsindhuApp.owner.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobile"><span data-translate="nclsindhuApp.owner.mobile">Mobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carlocation"><span data-translate="nclsindhuApp.owner.carlocation">Carlocation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="intercom"><span data-translate="nclsindhuApp.owner.intercom">Intercom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carnumber"><span data-translate="nclsindhuApp.owner.carnumber">Carnumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bikenumber"><span data-translate="nclsindhuApp.owner.bikenumber">Bikenumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flat.flatdesc"><span data-translate="nclsindhuApp.owner.flat">Flat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in vm.owners track by owner.id">
                    <td><a ui-sref="owner-detail({id:owner.id})">{{owner.id}}</a></td>
                    <td>{{owner.name}}</td>
                    <td>{{owner.mobile}}</td>
                    <td>{{owner.carlocation}}</td>
                    <td>{{owner.intercom}}</td>
                    <td>{{owner.carnumber}}</td>
                    <td>{{owner.bikenumber}}</td>
                    <td>
                        <a ui-sref="flat-detail({id:owner.flat.id})">{{owner.flat.flatdesc}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="owner-detail({id:owner.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="owner.edit({id:owner.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="owner.delete({id:owner.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
